<a routerLink=".." class="btn btn-outline-secondary m-4">
  <i class="fa fa-chevron-left" aria-hidden="true"></i>
</a>
<article *ngIf="product" class="product-detail container">
  <img
    class="product-detail__image"
    [src]="product.image"
    [alt]="product.name"
  />
  <h2 class="product-detail__name">{{ product.name }}</h2>
  <h3 class="product-detail__price">
    {{ product.price | currency: "COP":"symbol-narrow":"1.0-0" }}
  </h3>
  <h4 class="product-detail__category badge badge-primary">
    {{ product.category }}
  </h4>
  <p class="product-detail__description">{{ product.description }}</p>
  <hr />
  <form [formGroup]="productForm" (ngSubmit)="submit()">
    <div class="product-detail__picker">
      <div class="btn-group">
        <button class="btn btn-primary" type="button" (click)="removeProduct()">
          -
        </button>
        <button class="btn btn-primary px-3" type="button" disabled>
          {{ quantity.value }}
        </button>
        <button class="btn btn-primary" type="button" (click)="addProduct()">
          +
        </button>
      </div>
    </div>

    <textarea
      [formControl]="details"
      class="w-100"
      placeholder="Agregue detalles o aclaraciones de su producto"
      rows="4"
    ></textarea>
    <button
      class="btn btn-primary btn-block"
      type="submit"
      [disabled]="productForm.invalid"
    >
      Agregar al pedido ({{ total | currency: "COP":"symbol-narrow":"1.0-0" }})
    </button>
  </form>
</article>
