<article *ngIf="product" class="product-detail container">
  <a routerLink="/productos" class="btn btn-outline-secondary my-4">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </a>
  <img
    class="product-detail__image"
    [src]="product.image"
    [alt]="product.name"
  />
  <h2 class="product-detail__name">{{ product.name }}</h2>
  <h3 class="product-detail__price">
    {{ product.price | currency: "COP":"symbol-narrow":"1.0-0" }}
  </h3>
  <h4 class="product-detail__category badge badge-primary">
    {{ product.category }}
  </h4>
  <p class="product-detail__description">{{ product.description }}</p>
  <hr />

  <div class="product-detail__picker">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="removeProduct()">-</button>
      <button class="btn btn-primary px-3" disabled>
        {{ selectedQuantity }}
      </button>
      <button class="btn btn-primary" (click)="addProduct()">+</button>
    </div>
  </div>

  <textarea
    class="w-100"
    placeholder="Agregue detalles o aclaraciones de su producto"
    rows="4"
  ></textarea>
  <button
    class="btn btn-primary btn-block"
    (click)="orderProduct()"
    [disabled]="!hasSelectedProducts"
  >
    Agregar al pedido ({{ total | currency: "COP":"symbol-narrow":"1.0-0" }})
  </button>
</article>
