.product {
  display: flex;
  align-items: center;
}

.product__image-container {
  width: 40%;
  padding: 0.5rem;
  margin: 0;
}

.product__image {
  width: 100%;
  height: auto;
}

.product__info {
  width: 60%;
  padding: 0.5rem;
}

.product__name {
  font-weight: bold;
}

.product__price {
  margin-bottom: 0;
  font-weight: bold;
}

.product__description {
  margin-bottom: 0;
  font-size: 0.8rem;
}
