.order-window {
    background-color: #4f69cb;
    color: white;
    max-width: 300px;
    margin: 1rem auto;
    padding: 8px;
    text-align: center;
    border-radius: 10px;

    &__text {
        margin: 0;
    }
}