.restaurant {
  display: flex;
  padding: 8px;
  cursor: pointer;

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  &__image {
    width: 100px;
    height: auto;
  }

  &__info {
    width: 70%;
    padding: 8px;
  }

  &__name {
    font-weight: bolder;
    color: navy;
  }
}
